body {
  margin: 0;
}
/* content */
.content {
  width: 60%;
  margin: auto;
  text-align: center;
}
/* input-text */
#input-text,
.output-area {
  display: block;
  width: 100%;
  height: 10vh;
  padding-top: 10px;
  padding-left: 3px;
  margin-top: 3rem;
  border-radius: 0.5rem;
}
/* button */
#btnTranslate,
#clrBtn {
  margin-top: 2rem;
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100px;
}
.output-area {
  text-align: left;
  border: 1px solid black;
  padding-top: 1px;
  margin-top: 2rem;
  color: gray;
}
#clrBtn {
  visibility: hidden;
}
/* Error */
.error-img {
  max-width: 450px;
  display: block;
  margin: 10rem auto;
}
.error-msg {
  color: gray;
}
.error-msg .invert-color {
  color: blue;
}
#tryBtn {
  text-decoration: none;
  background-color: blue;
  padding: 0.7rem;
  border-radius: 0.6rem;
  color: white;
}
/* nav */
.navigation {
  text-align: center;
  background-color: yellow;
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

footer {
  background-color: yellow;
  padding: 2rem 0;
  letter-spacing: 3px;
  text-align: center;
  color: black;
  font-weight: bold;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* section */
.section {
  padding: 2rem 0;
  text-align: justify;
}
.section p {
  font-size: 1.5rem;
}
